
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAR MODELS</title>
</head>
<body bgcolor="cyan">
    {% block content %}
    <h1><center>CAR MODELS</center></h1>
    <br />
    <br />
    <h1>S CLASS</h1>
    <img src="https://www.mercedes-benz.co.in/passengercars/mercedes-benz-cars/models/s-class/saloon-w222/explore/design-teaser/_jcr_content/par/teaserbox/teaserelement1/teaserelement/image.MQ6.6.20191120104533.jpeg.jpg" width="500" height="333">
    <font face="cinzel" size="5">
        <a href="#">MORE DETAILS</a>
    </font>



    {% endblock %}
    
</body>
</html>